<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e_sathiuser">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
 <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MapMyIndia"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Direction" />
        <activity android:name=".MainActivity" android:theme="@style/Theme.Design.Light.NoActionBar"></activity>
        <activity android:name=".Intro_slider"></activity>
        <activity android:name=".notuse.Register"></activity>
        <activity android:name=".notuse.Registeractivity"></activity>
        <activity android:name=".notuse.Loginactivity"></activity>
        <activity android:name=".notuse.EmailVerifyActivity"></activity>
        <activity android:name=".notuse.MapActivity"></activity>
        <activity android:name=".Authotp"></activity>
        <activity android:name=".Verifyotp"></activity>

        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>